body{
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}

/* ------ BACKGROUND ------- */
.background{
    width: 100%;
    background-image: url('../BOA-Files/HOME/homebackground.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position:center;
    min-height: 100vh;
}
.background::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
  }
/* ---------------------------- */

/* --------- LOGO ------------- */
.background .header{
    width: 20%;
    z-index: 2;
    position: absolute;
    height: 100vh;
    position: 0;
}
.background .header .img-wrapper{
    height: 20%;
    z-index: 2;
    width: 100%;
}

.background .header img{
    height: 100%;
    margin-left: 1.5rem;
}
/* -------------------------- */


/* --------- MAIN CONTENT ------------- */
.background .content{
    width:80%;
    z-index: 2;
    position: absolute;
    margin-left: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background .content .content-wrapper{
    width: 30%;
    height: 80vh;
    margin-right: 22rem; 
}

.background .content .content-wrapper form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.background .content .content-wrapper form label{
    font-size: 1.3rem;
}
.background .content .content-wrapper form input{
    background-color: #fffaf1b9;
    font-size: 1.5rem;
    padding: 0.2em 0.5em;
    border-radius: 0.1em;
    border: 0.5px solid black;

}
.background .content .content-wrapper form  input:focus{
    outline: none;
}
.background .content form  button{
    border-radius: 0.1em;
    border: 0.5px solid black;
    background-color: #54442ebb;
    font-size: 1.3rem;
    margin-top: 1rem;
    padding: 0.4em 0;
    transition: background-color 0.3s, cursor 0.3s;
    
}
.background .content form  button:hover{
    background-color: #54442edf;
    cursor: pointer;
}

/* ----------------------------------------- */