/* ----- CATEGORIES SECTION ----- */
.categories{
    background-color: #fffaf1;
    height: 180vh;
    font-weight: 300;
}

/* ----- CATEGORIES TITLE ----- */
.categories .categories-title{
    margin: 0;
    text-align: center; 
    font-size: 3.5rem;
    padding-top: 10%;
}

/* ----- CATEGORIES CONTAINER ----- */
.categories .categories-container{
    margin:3%  auto;
    margin-bottom: 5%;
    border: 1px solid black;
    width: 80%;
    height: 55%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 8% 8% ;   
    padding: 5% 5%;     
}

/* ----- CLOTHES CONTAINER ----- */
.categories .categories-container .clothes-container{
    height: 100%;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    box-sizing: border-box;
}

/* ----- CLOTHES BUTTON A HREF----- */
.categories .categories-container .clothes-container a{
    color: black;
    box-sizing: border-box;
    font-size: 2.5rem;
    text-decoration: none;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    position: relative;
    overflow: hidden;
}

/* ----- IMAGE CONTAINER -----*/
.categories .categories-container .clothes-container .image-container{
    box-sizing: border-box;
    border:2px solid black;
    overflow: hidden;
    width: 100%;
    height: 80%;
}

.categories .clothes{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
}

/* ----- BACKGROUND IMAGE FOR CLOTHES ----- */
.categories .top{
    background-image: url("../boa-files/home/Categories/1.png");
}

.categories .polo{
    background-image: url("../boa-files/home/Categories/2.png");
}

.categories .shirt{
    background-image: url("../boa-files/home/Categories/3.png");
}
.categories .skirt{
    background-image: url("../boa-files/home/Categories/4.png");
}
.categories .gym{
    background-image: url("../boa-files/home/Categories/5.png");
}
.categories .dress{
    background-image: url("../boa-files/home/Categories/6.png");
}
.categories .sweater{
    background-image: url("../boa-files/home/Categories/7.png");
}
.categories .pants{
    background-image: url("../boa-files/home/Categories/8.png");
}


.categories .clothes:hover{
    transform: scale(1.1);
}

/* ----- BORDER HOVER ANIMATION -----   */
.categories .categories-container .clothes-container a span{
    display: block;
    background-color:black;
    transition: 0.3s ease-in-out;
}

/* ----- CREATING BORDER -----*/
.categories .categories-container .clothes-container a span:first-child{
    position: absolute;
    height: 0.5px;
    width: 100%;
}

.categories .categories-container .clothes-container a span:nth-of-type(2){
    position: absolute;
    height: 100%;
    width: 0.5px;  
}

/* ----- BEFORE HOVER ----- */
.categories .categories-container .clothes-container a span:first-child{
    top: 0;
    right: -100%;
    transition-delay: 0.1s;
}

.categories .categories-container .clothes-container a span:nth-of-type(2){
    left: 0;
    top: -100%;
    transition-delay: 0.2s;
}

/* ----- DURING HOVER -----*/
.categories .categories-container .clothes-container a:hover span:first-child{
    top: 0;
    right: 0;
}

.categories .categories-container .clothes-container a:hover span:nth-of-type(2){
    left: 0;
    top: 0;
}
/* ----- END OF BORDER HOVER ANIMATION -----*/

/* --- MORE BUTTON ---- */
.categories .more-button{
    color: black;
    box-sizing: border-box;
    margin:auto ;
    border:0.5px solid black;
    font-size: 2.5rem;
    text-decoration: none;
    padding: 0.3em;
    text-align: center;
    width: 90%;
    display: block;
}
/* ----- END OF BUTTON ----- */

/* ----- BLUR BACKGROUND ----- */
.blur-container{
    background-color:#fffaf1 ;
    height: 60vh;
}  

.blur-container .filler{
    height: 10%;
}

.blur-container .blur-bg{
    height: 90%;
    background-image: url("../boa-files/home/blurbackground.png");
    background-size: cover;
    background-position: center;
    position: relative;
}

.blur-container .blur-bg::after{ 
    padding: 0;
    margin: 0;
    content: "";   
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px); /* apply the blur */
    pointer-events: none; /* make the overlay click-through */
}

.blur-container .blur-bg  .blur-img-container{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-top: 7%;
    margin-left: auto; 
    margin-right: auto; 
    z-index: 2;   
    height: 50%;
    width: 15%;
}

.blur-container .blur-bg  .blur-img-container img{
    display: block;
    width:100%;
    height: 80%;
}

.blur-container .blur-bg .blur-img-container .social-container{
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blur-container .blur-bg .blur-img-container .social-container a{
    display: inline-block;
    height: 100%;  
}

.blur-container .blur-bg .blur-img-container .social-container img {
    width: 90%;
    height: 90%;
    transition: 0.3s;
    margin: auto;
}

.blur-container .blur-bg .blur-img-container .social-container img:hover{
    cursor:pointer;
    transform: translateY(-0.2rem);
} 
/* ----- END OF BLUR AND SOCIALS ------ */

/* ----- FOOTER ----- */
.footer{
    padding-top: 7%;
    height:30vh;
    background-color: #fffaf1;
}

.footer .footer-container{
    margin: auto;
    width:90%;
    height: 70%;
    display: grid;
    grid-template-columns: 1.3fr 1fr 1.8fr;
    column-gap: 3%;
}

.footer .footer-container div{  
    padding: 1.5em;
    border: 1px solid black;
    font-size: 1.15rem; 
}

.footer .footer-container div .upper{
    text-transform: uppercase;
}

.footer .footer-container div a{
    display: block;
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    line-height: 1.3em;
}

.footer .footer-container div a:hover{
    font-weight: 450;
}

.footer .footer-container div:nth-of-type(3){
    border:none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}

.footer .footer-container div .about-container{
    height: 28%;
}
/* ----- FOOTER SIGNUP ----- */

.footer .footer-container div .footer-signup{
    border: 1px solid black;
    text-align: center;
    padding: 1em;
    display: block;
}

/* ----- COPYRIGHT ----- */
.footer .copyright{   
    margin-top: 2%;
    margin-left: 5%;
}
/* ----- END OF FOOTER -----*/








