/* ------------ HEADER ------------- */
.header{
    display: flex;
    justify-content: space-between;
    background-color: #fffaf1;
    width: 100%; 
    height: 20vh; 
}

.header .boa-logo{
    display: block;
    width: 15%;
    margin: 0;
    height: 100%;
}

.header .search{
    width: 50%;
    display: inherit;
    justify-content: center;
    align-items: center;    
}

.header .search input{
    background-image: url('../boa-files/home/search.png');
    background-repeat: no-repeat;
    background-size: 6%;
    background-position-y: center;
    background-position-x: right;
    margin-left: 5rem;
    text-decoration: none;
    background-color: #fffaf1;
    width: 75%;
    font-size:1.9rem ;
    border-radius: 0.2em;
    padding: 0.2em;
    border-width: 1px;
}
/* ------------------------------------ */

/* -------------- NAVBAR 2 ------------*/
.navbar-2{
    display: flex;
    justify-content: center;
    background-color: #fffaf1;
    border-top:1px solid black ;
    border-bottom: 1px solid black ;
}

.navbar-2 nav{
    width: 70%;
    list-style: none;  
}

.navbar-2 nav .nav-links { 
    margin: 0.5em;
    padding-left: 0;
    display: flex;
    justify-content: space-between;    
}

.navbar-2 .nav-links li{
    text-align: center;
    border-right: 3px solid black;
    width: 16%;
    font-size: 1.5rem;
    display: inline-block;  
}

.navbar-2 .nav-links li:nth-of-type(6){
    border: none
}

.navbar-2 .nav-links li a,.popular-item a{ 
    color: black;
    text-decoration: none;
}
/* -------------------------------- */

/* -------- POPULAR --------------- */
.popular-item,ul{
    background-color: #fffaf1;  
    display: flex;
}

.popular-item ul{
    /* background-color: skyblue; */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    /* margin: 0; */
}

.popular-item li{
    display: inline-block;
    font-size: 0.9rem;
    text-align: center;

}

@media (max-width: 1765px) {
    .popular-item li{
        font-size: 0.7rem;
    }
}

.popular-item li:hover{
    font-weight: 450;
}

.popular-item li .dot{
    margin-right: 1em   
}

/* -------------------------------- */

/* ------ FEATURED PRODUCT -------- */
h1{
    background-color:#fffaf1;
    font-size: 4rem;
    font-weight: 300;
    text-align: center;
    padding: 0.8em 0;
    padding-right:3em;
    margin: 0;
}

.featured-wrapper{
    background-color:#fffaf1 ;
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;    
}

.featured-wrapper .product{
   /* background-color: blueviolet; */
    height: 90%;
    margin-left: 30%;
}

.featured-wrapper .product .feature1{
    width: 100%;
    height: 60%;
}

.featured-wrapper .product img:hover{
    cursor: pointer;
}

.featured-wrapper .product .clothes{
    width: 100%;
    height: 17%;
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}

.featured-wrapper .product .clothes div{
    width: 30%;
    overflow: hidden;
    margin: 0 0;
}

.featured-wrapper .product .clothes img{
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.featured-wrapper .product .clothes img:hover{
    transform: scale(1.2);  
}

.featured-wrapper .product a{
    border:0.5px solid black;
    margin-top: 10%;
    color: black;
    padding: 0.5em;
    font-size: 1.5vw;
    font-weight: 400;
    display: block;
    text-align: center;
    text-decoration: none;
}

/* --------------------------------------------- */

/* --------- FEATURED DESCRIPTION -------------- */
.featured-wrapper .description{
    /* background-color: rgb(146, 99, 189); */
    height: 90%;
    margin-right: 20%;
}

.featured-wrapper .description .item{
    margin:0;
    font-size:2rem;
    font-weight:300;
}

.featured-wrapper .description .price{
    font-size: 3rem;
    margin: 2rem 0
}

.featured-wrapper .description form  p{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.featured-wrapper .description form .description-color{
    display:inline-block;
    width: 30%;
    padding: 0.5em 0;
    border:1px solid black;
    text-align:center;
    font-size: 1.5rem;  
    transition: 0.3s;
}
/* this is for javascript classlist */
.changeBgColor{
    background-color: #e7d7bc;
}

.featured-wrapper .description form .description-size{
    display:inline-block;
    width: 30%;
    padding: 0.5em 0;
    border:1px solid black;
    text-align:center;
    font-size: 1.5rem;  
    transition: 0.3s;
}
.featured-wrapper .description form .sizes2-wrapper{
    margin-top: 6%;
}

.featured-wrapper .description form input{
    visibility: hidden;
}

.featured-wrapper .description form button{
    border:0.5px solid black;
    background-color: #fffaf1;
    width: 65%;
    font-size: 1.5rem;
    margin-top: 5%;
    transition: 0.3s;
}

.featured-wrapper .description form img{
    width: 8%;
    padding: 0.3em;
}

.featured-wrapper .description form label:hover{
    cursor: pointer;
    background-color: #e7d7bc;
}

.featured-wrapper .description form button:hover{
    cursor: pointer;
    background-color: #e7d7bc;
}
/* --------------------------------------- */

/* --------- DESCRIPTION TEXT ------------ */
.featured-wrapper .description .description-text{
    margin-top: 5%;
}

.featured-wrapper .description .description-text p {
    margin: 0;
    font-size: 1.1rem
}

.featured-wrapper .description .description-text p:first-child {
    font-size: 2rem;
    font-weight: 300;
    margin: 0.5rem 0;
}
/* ------------------------------------- */

/* ----------- SALE BACKGROUND -------- */
.sale{
    background-image: url('../boa-files/home/saleBackground.jpg');
    background-size: cover;
    height: 60vh;
}

.sale .sale-text{
    margin-left: 40%;
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.sale .sale-text p:first-child{
    font-size: 5rem;
    margin: 0.3em 0;
}

.sale .sale-text .small-text{
    font-size: 2.5rem;
    margin: 0;
}


/* ------------------------------------*/