
/* ------ FEATURED PRODUCT -------- */

.featured-wrapper{
    margin-top: 8rem;
    background-color:#fffaf1 ;
    width: 100%;
    /* height: 130vh; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;    
}

.featured-wrapper .product{
   /* background-color: blueviolet; */
    height: 90%;
    margin-left: 30%;
}

.featured-wrapper .product .feature1{
    width: 100%;
    height:80vh;
    border: 1px solid black;
    
}

.featured-wrapper .product img:hover{
    cursor: pointer;
}

.featured-wrapper .product .clothes{
    width: 100%;
    height: 18%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    /* background-color: coral; */
}

.clothes-subContainer{
    border: 1px solid black;
    width: 25%;
    overflow: hidden;
    margin: 0 0;
}

.featured-wrapper .product .clothes img{
    width: 100%;
    height: 100%;
    display: inline-block;
    transition: 0.3s ease-in-out;
}
.changeBorderColor{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border:1.5px solid red;
}

.featured-wrapper .product .clothes img:hover{
    transform: scale(1.2);  
}

.featured-wrapper .product a{
    border:0.5px solid black;
    margin-top: 10%;
    color: black;
    padding: 0.5em;
    font-size: 1.5vw;
    font-weight: 400;
    display: block;
    text-align: center;
    text-decoration: none;
}

/* --------------------------------------------- */

/* --------- FEATURED DESCRIPTION -------------- */
.featured-wrapper .description{
    margin-right: 25%;
    /* background-color: blueviolet; */
}

.featured-wrapper .description .item{
    margin:0;
    font-size:2.3rem;
    text-transform: uppercase;
    font-weight:350;
}

.featured-wrapper .description .price{
    font-size: 3rem;
    margin: 2rem 0
}

.featured-wrapper .description form  p{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}
/* .colors-container{
    background-color: darkcyan;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 2rem;
} */
/* .featured-wrapper .description form .description-color{
    display:inline-block;
    padding: 0.5em 0;
    border:1px solid black;
    text-align:center;
    font-size: 1.5rem;  
    transition: 0.3s;
} */
/* this is for javascript classlist */
.changeBgColor{
    background-color: #e7d7bc;
}
.size-container{
    /* background-color: darkcyan; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem 2rem;
}

.featured-wrapper .description form .description-size{
    display:inline-block;

    padding: 0.5em 0;
    border:1px solid black;
    text-align:center;
    font-size: 1.5rem;  
    transition: 0.3s;
}
.featured-wrapper .description form .sizes2-wrapper{
    margin-top: 6%;
}

.featured-wrapper .description form input{
    position: absolute;
    visibility:hidden;
}

.featured-wrapper .description form button{
    border:0.5px solid black;
    background-color: #fffaf1;
    width: 100%;
    margin-top: 10%;
    transition: 0.3s;
}

.featured-wrapper .description form img{
    width: 6%;
    padding: 0.8em 0;
}

.featured-wrapper .description form label:hover{
    cursor: pointer;
    background-color: #e7d7bc;
}

.featured-wrapper .description form button:hover{
    cursor: pointer;
    background-color: #e7d7bc;
}
/* --------------------------------------- */

/* --------- DESCRIPTION TEXT ------------ */
.featured-wrapper .description .description-text{
    margin-top: 5%;
}
.description-tag{
    line-height: 1.6em;
    font-size: 1.3rem;
    font-weight: 350;
    
}

.featured-wrapper .description .description-text p{
    margin: 0;
    line-height: 1.4em;
    font-size: 1.05rem;
    font-weight: 350;
}

.featured-wrapper .description .description-text p:first-child{
    font-size:1.5rem;
    font-weight: 430;
    margin: 0.5rem 0;
}
.highlight{
    font-weight: 430;
}
/* ------------------------------------- */

/* ----- REVIEW CONTAINER SECTION ----- */
.review-container{
    border:1px solid black;
    width: 85%;
    margin: auto;
    margin-top: 5rem;
    box-sizing: border-box;
    padding: 2em 3em;
}

.database-comment{
    margin: 1rem 0;
    background-color: rgb(137, 194, 72);
    height: 20vh;
}

.user-comment textarea{
    background-color: transparent;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 1.5em;
    resize: none;
    width: 100%;
    height: 20vh;
    border-radius: 0.5em;
}